.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.interface {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.interface > * {
  margin-bottom: 10px;
}

.stream {
  width: 100%;
  height: 100%;
}
